@import './variables.scss' ;

.date {
    cursor: pointer;
    height: 5rem;
}

.working-days-temp {
    background-color: $working-days!important;
}

.days-off-temp {
    background-color: $days-off!important;
}

.weekends-temp {
    background-color: $weekends!important;
}

.working-days {
    background-color: $working-days;
}

.days-off {
    background-color: $days-off;
}

.weekends {
    background-color: $weekends;
}
