body {
    background-color: rgb(18 20 22);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}