@import './variables.scss' ;

.date {
    cursor: pointer;
    height: 5rem;
}

.working-days-temp, .working-days {
    background-color: $working-days-temp;
}

.days-off {
    background-color: $days-off;
}

.weekends {
    background-color: $weekends;
}
